table {
    border-collapse: collapse;
    margin: 15px 0;
    display: block;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
body{
    background-color: #151C47;

}
*{
    font-family: 'Noto Serif', serif;
    background-color: #151C47;
    color: white;
}
#first-selector {
    border: solid 2px red;

}
#navbar{
    border: pink 1px solid;
}
#roast-selection {
    width: 100%;

}
#searchCoffee {
    width: 100%;
}
#submit {
    margin-top: 1em;
}
#second-typing {
    width:100%;
}
#submitTwo {
    margin-top: 1em;
    margin-bottom: 1em;
}
#logo {
    border: solid 1px red;
    width: 200px;
    height: auto;
    object-fit: scale-down;
}

td{
    font-size: 15px;
}

.layout {
    display: flex;
    justify-content: left;
}

p {
    padding-top: 8px;

}






